---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import { getEntry } from "astro:content";

// Generate static pages
export async function getStaticPaths() {
  const settings = await getEntry("site-settings", "navigation");
  const pages = await getCollection("pages", (page) => {
    return page.id != settings.data.homePage;
  });
  return pages.map((page) => ({
    params: { title: page.id },
    props: { page },
  }));
}

const { title } = Astro.params;
const { page } = Astro.props;
---

<Layout title={title}>
  <h1>{page.data.title}</h1>
  <ul>
    {
      page.data.content.map((item, index) => {
        return <li>{index}</li>;
      })
    }
  </ul>
</Layout>
