---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import { getEntry } from "astro:content";
import { type PageBlock } from "../types/blocks";
import TheComponent from "../components/TheComponent.astro";

const homePage = await getEntry("site-settings", "navigation").then(
  (entry) => entry.data.homePage
);

const entry = getEntry("pages", homePage);
const { data } = await entry;

const blocks: PageBlock[] = data.content;
---

<Layout title={data.title}>
  <div>
    <h1 class="text-7xl text-badass">{data.title}</h1>
    <p>
      This homepage shows how to load data from Astro's content collections.
    </p>
    <p>
      <a href="/keystatic">Click here to visit the Admin UI</a>, or the link
      below to view a post in the collection.
    </p>
    <h2>Posts</h2>
    {
      blocks.map((block) => {
        return <TheComponent block={block} />;
      })
    }
  </div>
</Layout>
